<ng-template #treeList let-treeData>
  <div *ngFor="let object of treeData">
    <div class="row" (click)="onSelectObject(object)" [ngClass]="{'selected': selectedObject === object}"
         [ngStyle]="{'padding-left': (object.nestedLevel * 10) + 'px'}">
      <div class="col-md-1">
        <i class="fas pointer" [ngClass]="{'fa-caret-right': !object.expanded, 'fa-caret-down': object.expanded}" (click)="onExpandObject(object, $event)"></i>
      </div>
      <div class="col-md-9">
        <span [hidden]="object.editing">{{object.getName()}}</span>
        <input appFocusOnShow *ngIf="object.editing" (blur)="object.editing = false;" type="text" class="form-control" [(ngModel)]="object.name">
      </div>
      <div class="col-md-1">
        <i class="fas fa-edit pointer" (click)="editName(object, $event)"></i>
      </div>
      <div class="col-md-1">
        <i class="fas fa-times-circle pointer" (click)="removeObject(object, $event)"></i>
      </div>
    </div>
    <div *ngIf="object.children.length > 0" [hidden]="!object.expanded">
      <ng-container *ngTemplateOutlet="treeList; context:{ $implicit: object.children }"></ng-container>
    </div>
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="treeList; context:{ $implicit: treeData }"></ng-container>