<div class="object-view">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Object Tree</h3>
    </div>
  </div>
  <div class="row new-object-btn-row">
    <div class="col-md-12">
      <button class="btn btn-primary" ng-click="onNewEmptyObject()">
        <i class="fas fa-plus"></i>
      </button>
      <label>New Empty Object</label>
    </div>
  </div>
  <div class="row new-object-btn-row">
    <div class="col-md-12">
      <button class="btn btn-primary" ng-click="onNewObjectFromClass()">
        <i class="far fa-plus-square"></i>
      </button>
      <label>New Object from Class...</label>
    </div>
  </div>
</div>