<div class="object-view">
  <div class="row m-0">
    <div class="col-md-12 text-center p-2">
      <h3>Object Tree</h3>
    </div>
  </div>
  <div class="row new-object-btn-row m-0">
    <div class="col-md-12">
      <button class="btn btn-light" (click)="onNewEmptyObject()">
        <i class="fas fa-plus"></i>
      </button>
      <label>New Empty Object</label>
    </div>
  </div>
  <!--<div class="row new-object-btn-row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onNewObjectFromClass()">
        <i class="far fa-plus-square"></i>
      </button>
      <label>New Object from Class...</label>
    </div>
  </div>-->
  <div class="object-tree-container">
    <app-object-tree></app-object-tree>
  </div>
</div>