.object-view {
  background-color: #9ac775;
  width: 100%;
  height: 100%;

  .new-object-btn-row {
    padding-bottom: 10px;
    padding-left: 30px;

    label {
      padding-left: 15px;
    }
  }

  .object-tree-container {
    padding: 20px;
  }
}