<div class="behaviour-view">
  <div class="row">
    <div class="col-md-12 text-center p-2">
      <h3>Inherited Behaviours</h3>
    </div>
  </div>
  <div *ngIf="selectedObject" class="row m-0">
    <div class="col-md-12">
      <h4>Object: {{selectedObject.getName()}}</h4>
    </div>
  </div>
  <div *ngIf="objectService.getSelectedObject() && behavioursToAdd.length" class="row mt-3">
    <div class="col-md-12 text-center">
      <button id="add-behave-btn" class="btn btn-light" (click)="onAddBehaviour()">Add Behaviour</button>
      <div *ngIf="showAddBehaviourList" class="add-behaviour-panel" (clickOutside)="onClickOutsideDropdown($event)" [exclude]="'#add-behave-btn'">
        <ul>
          <li *ngFor="let item of behavioursToAdd" (click)="onChooseBehaviour(item)">{{item.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-12 behav-list-container">
      <app-behaviour-list></app-behaviour-list>
    </div>
  </div>
</div>