<div class="behaviour-view">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Inherited Behaviours</h3>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-12 behav-list-container">
      <app-behaviour-list></app-behaviour-list>
    </div>
  </div>
  <div *ngIf="objectService.getSelectedObject()" class="row mt-3">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" (click)="onAddBehaviour()">Add Behaviour</button>
      <div *ngIf="showAddBehaviourList" class="add-behaviour-panel">
        <ul>
          <li *ngFor="let item of behavioursToAdd" (click)="onChooseBehaviour(item)">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>