<div class="assets-view">
  <ngb-tabset>
    <ngb-tab title="Behaviours">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-md-12 p-4">
            <button class="btn btn-light" (click)="onNewBehaviour()">
              <i class="fas fa-plus"></i>
            </button>
            <label>New Behaviour</label>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Classes">
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Sprites">
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Audio">
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>