<div class="assets-view">
  <ngb-tabset>
    <ngb-tab title="Behaviours">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-md-12 p-4">
            <button class="btn btn-light" (click)="onNewBehaviour()">
              <i class="fas fa-plus"></i>
            </button>
            <label class="pl-2">New Behaviour</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div *ngFor="let behaviour of behaviourService.getBehaviourDefs()" class="row m-0 pb-1">
              <div class="col-md-5">
                {{'Behaviour' + behaviour.name}}
              </div>
              <div class="col-md-1">
                <button class="btn btn-light" *ngIf="!behaviour.isSystemBehaviour" title="Edit Behaviour" (click)="onEditBehaviour(behaviour)">
                  <i class="fas fa-edit pointer"></i>
                </button>
                <button class="btn btn-light" *ngIf="behaviour.isSystemBehaviour" title="View Behaviour" (click)="onViewBehaviour(behaviour)">
                  <i class="fas fa-search pointer"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Classes">
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Sprites">
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Audio">
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>