.scene-view {
  background-color: #384149;
  width: 100%;
  height: 100%;
  
  .transform-btns {
    .btn {
      margin: 5px 2px;

      &[disabled] {
        cursor: not-allowed;
      }
    }
  }
}