<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Select Image</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let row of files" class="card-deck">
    <div *ngFor="let file of row.files" class="card" (click)="onSelectFile(file)" [ngClass]="{'selected': selectedFile && selectedFile.id === file.id}">
      <img [src]="'http://localhost:3000/files/' + file.filename" class="card-img-top">
    </div>
  </div>
</div>
<div class="modal-footer">
  <!--<input type="file" class="form-control-file" id="file-uploader">-->
  <!--<angular-file-uploader
    [config]="fileUploaderConfig"
    (ApiResponse)="onFileUploaded($event)">
  </angular-file-uploader>-->
  <button type="button" ngbAutofocus class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="modal.close(selectedFile)" [disabled]="selectedFile === null">Select</button>
</div>