<div class="app-container">
  <div class="row m-0">
    <app-toolbar-view></app-toolbar-view>
  </div>
  <div class="row m-0" *ngIf="runtime.isRuntimeRunning() === false">
    <div class="col-md-3 app-left-container p-0">
      <app-object-view></app-object-view>
    </div>
    <div class="col-md-6 offset-md-3 app-center-container p-0">
      <div class="row">
        <div class="col-md-12 p-0 center-top-container">
          <app-scene-view></app-scene-view>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-0 center-bottom-container">
          <app-assets-view></app-assets-view>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-9 app-right-container p-0">
      <app-behaviour-view></app-behaviour-view>
    </div>
  </div>
  <div class="row" *ngIf="runtime.isRuntimeRunning()">
    <div class="col-md-12">
      <app-runtime></app-runtime>
    </div>
  </div>
</div>