<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Behaviour Editor - {{behaviourName}}</h4>
</div>
<div class="modal-body">
  <div id="bravopanebox" class="left panebox" style="width: 100%">
    <div id="bravo" class="pane">
      <div class="hpanelbox">
        <div class="hpanel">
          <div id="code-editor" class="editor"></div>
        </div>
        <div class="hpanel cssmark" style="display:none" share="25">
        </div>
        <div class="hpanel htmlmark" style="display:none" share="25">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" ngbAutofocus class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Close</button>
  <button type="button" class="btn btn-primary" (click)="onSave(getPaneEditorData())">
    <i *ngIf="saving" class="fas fa-spinner fa-spin"></i>
    <span *ngIf="!saving">Save</span>
  </button>
</div>