<div class="col-md-12 toolbar-view">
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/Code Inventor.png">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
      <button *ngIf="runtime.isRuntimeRunning() === false" class="btn btn-success float-right mt-1" (click)="onRunClicked()">
        Run
        <i class="fas fa-play"></i>
      </button>
      <button *ngIf="runtime.isRuntimeRunning()" class="btn btn-danger float-right mt-1" (click)="onStopClicked()">
        Stop
        <i class="fas fa-stop"></i>
      </button>
    </div>
    <div class="col-md-1 offset-md-3 p-0">
      <h5>App Id: {{httpService.getAppId()}}</h5>
    </div>
    <div class="col-md-1 question-hover">
      <i class="far fa-question-circle" [title]="getQuestionHoverText()"></i>
    </div>
  </div>
</div>>