.toolbar-view {
  background-color: #CCD8E2;
  position: absolute;
  top: 0;
  height: 50px;
  border-bottom: 1px solid #888;

  h5 {
    padding-top: 10px;
    font-weight: 900;
  }

  .question-hover {
    padding-top: 8px;
    font-size: 20px;
  }

  img {
    height: 44px;
    padding-top: 3px;
  }
}