<div class="col-md-12 toolbar-view">
  <div class="row">
    <div class="col-md-2 offset-md-3 transform-btns">
      <button *ngIf="runtime.isRuntimeRunning() === false" class="btn btn-warning" title="Move Tool">
        <i class="fas fa-arrows-alt"></i>
      </button>
      <button *ngIf="runtime.isRuntimeRunning() === false" class="btn btn-warning" title="Rotate Tool">
        <i class="fas fa-redo-alt"></i>
      </button>
      <button *ngIf="runtime.isRuntimeRunning() === false" class="btn btn-warning" title="Scale Tool">
        <i class="fas fa-external-link-alt"></i>
      </button>
    </div>
    <div class="col-md-1">
      <button *ngIf="runtime.isRuntimeRunning() === false" class="btn btn-success float-right mt-1" (click)="onRunClicked()">
        Run
        <i class="fas fa-play"></i>
      </button>
      <button *ngIf="runtime.isRuntimeRunning()" class="btn btn-danger float-right mt-1" (click)="onStopClicked()">
        Stop
        <i class="fas fa-stop"></i>
      </button>
    </div>
  </div>
</div>>