.behaviour-list {
  padding: 10px;
  max-height: 730px;
  overflow: auto;

  .behaviour-panel {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .fa-times-circle {
    color: #A82A36;
  }

  .property-row {
    margin-bottom: 6px;

    h6 {
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .float-input {
      width: 70px;
      display: inline-block;
    }

    .bool-input {
      width: 20px;
      height: 20px;
    }
  }
  
  .file-btn {
    width: 80px;
    height: 80px;
    padding: 0;

    i {
      font-size: 44px;
    }

    img {
      width: 78px;
      height: 78px;
    }
  }
}
