.behaviour-list {
  .property-row {
    margin-bottom: 6px;

    h6 {
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .float-input {
      width: 70px;
      display: inline-block;
    }
  }
  
}
