<div class="row behaviour-list">
  <div *ngFor="let behaviour of behaviours" class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h4>{{behaviour.name}}</h4>
      </div>
    </div>
    <div *ngFor="let property of behaviour.properties" class="row property-row">
      <div class="col-md-4 offset-md-1">
        <h5>{{property.name}}</h5>
      </div>
      <div class="col-md-7">
        <span [ngSwitch]="property.type">
          <span *ngSwitchCase="'float'">
            <input class="form-control float-input" type="number" step="0.01" [(ngModel)]="property.value">
          </span>
          <span *ngSwitchCase="'vector2d'">
            <h6>X</h6>
            <input class="form-control float-input" type="number" step="0.01" [(ngModel)]="property.xValue">
            <h6>Y</h6>
            <input class="form-control float-input" type="number" step="0.01" [(ngModel)]="property.yValue">
          </span>
        </span>
      </div>
    </div>
  </div>
</div>